body {
    background: linear-gradient(-45deg, #F9C1CD, #C9B1D8, #B4BDE9, #D6A5C7);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100vh;
    font-family: "JetBrains Mono", monospace;
    color: #563C77;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.block {
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 160px;

}

.greetings {
    position: relative;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 55px 55px 60px 55px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.06);
}

.text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    color: #321C4E;
}

.name {
    font-size: 60px;
    font-family: "Jura";
    margin-bottom: 70px;
    color: #563C77;
}

.caption {
    margin-bottom: 28px;
    align-self: flex-start;
    text-align: left;
}

.caption2 {
    align-self: flex-end;
    text-align: right;
}

.signature {
    margin-top: 60px;
    font-size: 18px;
    font-weight: 300;
}

.question {
    font-family: Jura;
    font-weight: 700;
    font-size: 28px;
    margin-top: 120px;
}

.arrow {
    margin-top: 35px;
}

.smallLine {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: -7px;
    width:32px;
    border-width: 3px 0 3px 3px;
    border-color: #563c77;
    border-style: solid;
    height: 100%;
}
.smallLine.right{
    left: unset;
    right: -7px;
    transform: rotate(180deg);

}


.bigLine {
    box-sizing: border-box;
    position: absolute;
    top: -7px;
    left: 0;
    width:33%;
    border-width: 3px 0 0px 3px;
    border-color: #563c77;
    border-style: solid;
    height: 100%;
}


.bigLine.right {
    left: unset;
    right: 0;
    top: unset;
    bottom: -7px;
    transform: rotate(180deg);
}

.block.second{
    background-color: #fff;
}